@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    --background-color: rgb(20, 20, 35);
    --title-color: rgb(255, 255, 255);
    --subtitle-color: rgb(120, 120, 160);
    --foreground-color: rgb(200, 200, 200);
    --title-font-size: 50px;
    --section2-background-color: rgb(198, 35, 104);
    --section2-card-color: rgb(160, 0, 85);
    --section3-background-color: rgb(39, 42, 148);
    --section4-background-color: rgb(0, 2, 81);
    --section5-background-color: rgb(0, 0, 0);

    font-family: 'Nunito Sans', sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--foreground-color);
    width: 100vw;
    margin: 0;
}

h1 {
    font-family: bold;
    letter-spacing: -1px;
    font-size: 30px;
}

section {
    display: grid;
    height: 60vh;
    width: 100vw;
}

@keyframes becomeVisible {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.centred {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#section1 {
    height: calc(100vh - (100vw / 3) - 10vh);
    width: 90%;
    padding-left: 10%;
    padding-top: 10vh;
    grid-template-rows: calc(2 * var(--title-font-size)) 6rem;
}

#main-header {
    color: var(--title-color);
    font-size: var(--title-font-size);
    text-align: left;
    letter-spacing: -2.5px;
    font-family: bold;
    height: 30%;
}

#main-subtitles {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2rem 2rem 2rem;
    align-items: left;
    color: var(--subtitle-color);
    letter-spacing: -1.5px;
}

#main-subtitles>h2 {
    opacity: 0;
    text-align: left;
    white-space: nowrap;
    animation: 1s ease-in-out 1 becomeVisible forwards;
}

#main-subtitles>h2:nth-child(1) {
    animation-delay: 1s;
}

#main-subtitles>h2:nth-child(2) {
    animation-delay: 2s;
}

#main-subtitles>h2:nth-child(3) {
    animation-delay: 3s;
}

#location-list {
    position: absolute;
    top: 25px;
    left: calc(100% - 25px);
    transform: translate(-100%, 0%);
    color: var(--subtitle-color);
    text-align: right;
    white-space: nowrap;
}


#location-list>.old-location {
    filter: brightness(.35);
}

.spacer {
    aspect-ratio: 3;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

#spacer1 {
    background-image: url('resources/spacer1.svg')
}